<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Vue</title>
</head>

<body>
    <div id="app">
        <input type="text" name="nombre" placeholder="Escribe tu nombre" v-model="nombre">
        <p>Tu nombre en mayúscula es: {{nombre|uppercase}}</p>
        <form @submit.prevent="submit">
            <input v-model="curso" type="checkbox" id="vue" value="vue">
            <label for="vue">Sara.js</label>
            <input v-model="curso" type="checkbox" id="seo" value="seo">
            <label for="seo">Camila.js</label>
            <input v-model="curso" type="checkbox" id="edu" value="edu">
            <label for="edu">Andrea.js</label>
            <button type="submit">send</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                contador: 0,
                nombre: "",
                curso: []
            },
            filters: {
                uppercase: function (str) {
                    return str.toUpperCase();
                }
            },
            methods: {
                add: function () {
                    this.contador++
                },
                remove: function () {
                    this.contador--
                },
                submit: function () {
                    console.log("submit")
                    console.log(this.curso)
                }
            }
        })
    </script>
</body>

</html>